  /* Ocultar link registrar en el nav */
  .link_register{
    display: none;
  }
  
  /* Contenedor principal */
  .container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
    padding: 2rem; 
  }
  
  /* Imagen */
  .register-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;  /* Añadido para mover la imagen a la derecha */
  }
  
  .register-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  /* Formulario */
  .register-form {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .register-form form {
    width: 100%;
    max-width: 500px;
    padding: 40px 50px;
    border-radius: 25px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.60);

    
  }
  
  /* Botón personalizado */
  .btn-register {
    background-color: var(--atelier-negro-hilo);
    border: none;
    width: 100%;
    color: var(--atelier-blanco-nube);
    font-weight: 600;
  }
  
  .btn-register:hover {
    background-color: var(--atelier-rosa-zakura);
    color: var(--atelier-blanco-nube);
  }
  
  /* Texto de enlace */
  .login-link {
    text-align: center;
    margin-top: 1rem;
  }
  
  /* Media Query para pantallas pequeñas */
  @media (max-width: 768px) {
    .container-register {
      flex-direction: column;
      padding: 1rem;
    }
  
    .register-image {
      display: none; /* Oculta la imagen en pantallas pequeñas */
    }
  
    .register-form {
      flex: none;
      width: 100%;
    }
  
    .register-form form {
      max-width: 100%;
    }
  }