

/* Tipo de fuente */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* Paleta de colores */
:root {
    --atelier-blanco-nube: #FCFCFC;    /* Casi blanco, como el hilo base o fondo */
    --atelier-negro-hilo: #000000;     /* Negro, ideal para detalles como ojos o bordes */
    --atelier-rosa-ternura: #FFB5C2;   /* Rosa pastel, evoca dulzura y ternura */
    --atelier-cian-celeste: #83CDE2;   /* Cian suave, como un cielo bordado */
    --atelier-piel-suave: #FFE9DA;     /* Tono piel claro, perfecto para personajes */
  }

footer{
    color: var(--atelier-negro-hilo) ;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--atelier-piel-suave);
    
}
#copyright{
  height: 50%;
  width: 70%;
  display: block;
  margin-left: 30%;
}
.iconos-footer{
  display: flex;
  justify-content: center; /* centra horizontalmente */
  gap: 20px; /* espacio entre iconos */
  align-items: center; /* centra verticalmente si hay texto */
}
a{
  color: var(--atelier-negro-hilo);
}

