<head>
  <link rel="stylesheet" href="../CSS/style_comunes.css">
</head>
<footer>
  <div class="footer-top">
    <div>
      <i class="fa fa-envelope"></i>
      <h4>Email</h4>
      <p>info@amigurumisatelier.com</p>
    </div>
    <div class="store-address">
      <h4>Nuestra tienda en Bogotá</h4>
      <b>Cra. 104 A #60-78</b>
      <p>Barrio Chapinero</p>
    </div>
    <div>
      <i class="fab fa-whatsapp"></i>
      <h4>Pide tus productos por Whatsapp</h4>
      <p>317-363-1566</p>
    </div>
  </div>
 
  <div class="footer-bottom">
    <div class="footer-column">
      <h4>Nosotros</h4>
      <ul>
        </a><li>Quiénes Somos</li>
        <li>Condiciones de garantía y devoluciones</li>
        <li>Cotizaciones</li>
      </ul>
    </div>
 
    <div class="footer-column">
      <h4>Productos</h4>
      <ul>                 
        <li>Amigurumis destacados</li>
        <li>Reseñas</li>
        <li>Ofertas especiales</li>
      </ul>
    </div>
 
    <div class="footer-column">
      <h4>Servicios</h4>
      <ul>
        <li>Haz tu pedido personalizado</li>
        <li>Rastrea tu pedido</li>
        <li>Preguntas frecuentes</li>
      </ul>
    </div>
 
    <div class="footer-column newsletter">
      <h4>Boletín</h4>
      <p>Suscríbete a nuestro boletín y manténte al tanto de nuestras novedades.</p>
      <form>
        <input class="input-email" type="email" placeholder="Tu correo">
        <button><i class="fa fa-arrow-right"></i></button>
      </form>
      <div class="social-icons">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-whatsapp"></i>
      </div>
    </div>
  </div>
</footer>