<head>
  <link rel="stylesheet" href="/CSS/style_comunes.css">
</head>
<footer>
  <div class="footer-top">
    <div>
      <i class="fa fa-envelope"></i>
      <h4>Email</h4>
      <p>info@amigurumisatelier.com</p>
    </div>
    <div class="store-address">
      <h4>Nuestras tiendas Bogota</h4>
      <b>Cra. 104 A #60-78</b>
      <b>Cra. 24# 13-12</b>
      <b>Cra. 116 #45-139</b>
      <p>La Candelaria</p>
    </div>
    <div>
      <i class="fab fa-whatsapp"></i>
      <h4>Pide tus productos por Whatsapp</h4>
      <p>317-363-1566</p>
    </div>
  </div>
 
  <div class="footer-bottom">
    <div class="footer-column">
      <h4>Nosotros</h4>
      <ul>
        <li>Política de tratamiento de datos</li>
        <li>Términos y condiciones</li>
        <li>Condiciones de garantía y devoluciones</li>
        <li>Cotizaciones</li>
      </ul>
    </div>
 
    <div class="footer-column">
      <h4>Productos</h4>
      <ul>                 
        <li>Implementación</li>
        <li>Hobbies</li>
        <li>Ofertas</li>
      </ul>
    </div>
 
    <div class="footer-column">
      <h4>Servicios</h4>
      <ul>
        <li>Rastrea mi pedido</li>
        <li>Quiero ser mayorista</li>
        <li>Blog</li>
        <li>Cotizaciones</li>
      </ul>
    </div>
 
    <div class="footer-column newsletter">
      <h4>Suscríbete a nuestro boletín</h4>
      <p>Suscríbete a nuestro boletín y mantén enterado de nuestras novedades en el campo deportivo</p>
      <form>
        <input class="input-email" type="email" placeholder="Tu correo">
        <button><i class="fa fa-arrow-right"></i></button>
      </form>
      <div class="social-icons">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-tiktok"></i>
      </div>
    </div>
  </div>
</footer>