<!-- FOOTER dennis -->
<footer id="pie-de-pagina" class="pie-de-pagina">
  <!-- Información de contacto, redes sociales, derechos reservados -->
  <div class="contenido-footer">
    <p id="copyright">&copy; 2025 Amigurumis Atelier. Todos los derechos reservados.</p>
    <div class="iconos-footer">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-solid fa-envelope"></i></a>
      <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
  </div>
</footer>
