<head>
    <link rel="stylesheet" href="/CSS/style_comunes.css">
</head>
<!-- Nav Liz Martinez -->
<header>
    <div class="left-group">
        <a href="../HTML/home.html"><img src="../assets/LOGO.png" alt="logo muñeco" class="logo-muñeco"></a>    
    </div>
    <nav class="nav-group">
        <a class="inicio" href="/HTML/home.html">Inicio</a>
        <a href="acerca_nosotros.html">Nosotros</a>
        <a href="productos.html">Productos</a>
        <a class="link_contactanos" href="contactanos.html">Contáctanos</a>
        <a class="link_register" href="register.html">Registrarse</a>
    </nav>
    <div class="icons">        
        <a href="login.html" class="login">
            <span>Inicia sesión</span>
            <i class="fa fa-user"></i>
        </a>    
        <a href="../HTML/carrito.html"><i class="fa-solid fa-cart-plus"></i>
        </a> 
        
    </div>
    <!-- Botón hamburguesa -->
    <div class="nav-responsive" id="menu-toggle">
        <i class="fa fa-bars"></i>
    </div>
    <!-- Menú desplegable responsive -->
    <div class="menu-responsive-links" id="responsive-menu">
        <a href="register.html">Regístrate</a>
        <a class="inicio" href="/HTML/home.html">Inicio</a>
        <a href="acerca_nosotros.html">Nosotros</a>
        <a href="productos.html">Productos</a>
        <a href="contactanos.html">Contacto</a>
    </div>
</header>