<!-- Nav Liz Martinez -->
<header>
    <div class="left-group">
        <img src="../assets/LOGO.png" alt="logo muñeco" class="logo-muñeco">
    </div>

    <nav class="nav-group">
        <a href="#">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Servicios</a>
        <a href="contactanos.html">Contacto</a>
    </nav>

    <div class="icons">
        <a href="register.html" class="login">
            <i class="fa fa-user"></i>

        </a>
    </div>

    <!-- Botón hamburguesa -->
    <div class="nav-responsive" id="menu-toggle">
        <i class="fa fa-bars"></i>
    </div>

    <!-- Menú desplegable responsive -->
    <div class="menu-responsive-links" id="responsive-menu">
        <a href="register.html">Regístrate</a>
        <a href="#">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Servicios</a>
        <a href="contactanos.html">Contacto</a>
    </div>
</header>